<%- include('templates/header', { title:'Members', active:active }) %>

<h2>Members Area</h2>
<p>Hello, <%= user.name %>!</p>
<div class="row">
  <div class="col-md-4"><img src="/images/meow1.jpeg" class="img-fluid"></div>
  <div class="col-md-4"><img src="/images/meow2.jpeg" class="img-fluid"></div>
  <div class="col-md-4"><img src="/images/meow3.jpeg" class="img-fluid"></div>
</div>
<p class="mt-3"><a class="btn btn-primary" href="/logout">Log Out</a></p>

<%- include('templates/footer') %>
